<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "ポイント管理システム", root_path, class:"brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "販売一覧", sales_path %></li>
          <li class="active"><a href="#">販売追加</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">

  <form class="well form-search">
  <label for="name">顧客名：</label>
  <select name="name">
    <option value="1"/>
  </select>
  <label for="sell">販売店：</label>
  <select name="sell">
    <option value="1"/>
  </select>
  <label for="date">販売日：</label>
  <input type="text" name="date"/>
  <button type="submit" class="btn">販売詳細</button>
  </form>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>商品名</th>
        <th>販売店</th>
        <th>発生ポイント</th>
        <th>商品単価</th>
        <th>商品画像</th>
      </tr>
    </thead>
    <tbody>
    <% @sale_details.each do |sale_detail| %>
      <tr>
        <td><%= sale_detail.good.goods_name %></td>
        <td><%= sale_detail.store.storename if sale_detail.store %></td>
        <td><%= sale_detail.sale_point %></td>
        <td><%= sale_detail.sale_price %></td>
        <td><%= sale_detail.good.goods_picture %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div align="right"><button type="submit" class="btn">確定登録</button></div>
  </div> <!-- /container -->
</div>
